* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#mian {
    width: 100%;
}

#hero {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    color: white;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    margin-left: 30px;
    opacity: .6;
    line-height: 1;
    /* font-family: "General Sans"; */
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading .second1 {
    margin-left: 235px;
}

.block {
    width: fit-content;
}

.block h5 {
    text-align: right;
}

#chotti {
    margin-top: 100px;
    padding-right: 50px;
}

#chotti h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;     
}
#herofooter a{
    color: white;
    text-decoration: none;
}
#herofooter #icon{
    display: flex;
    gap: 6px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(165, 161, 161);
}
#sec{ 
    color: white;
    padding-right: 10vw ;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4vw 0vw;
    border-top: 1px solid gray;
}
.elem h1{
    font-size: 8vw;
    opacity: .6;
}
.last{
    border-bottom: 1px solid gray;
}
.elem img{
    display: none;
    height: 140%;
    z-index: 999;
    position: absolute;

}
#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    color: white;
    padding: 10vw 10vw;
    padding-left: 40vw;
    background-color: black;
    width: 100%;
}

#about img{
    width: 200px;
}
#textabout{
    width: 35rem;
}
#textabout h5{
    opacity: 0.6;
    margin-bottom: 10px;
}
#textabout p{
    margin-bottom: 30px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#sub{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}
#sub h5{
    text-transform: uppercase;
    opacity: 0.3;
}
#sub h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    display: flex;
    gap: 15px;
    
}
#footerright{
    display: flex;
    gap: 30px;
}

#footerright a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}