* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#mian {
    width: 100%;
}

#hero {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    color: white;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    margin-left: 30px;
    opacity: .6;
    line-height: 1;
    /* font-family: "General Sans"; */
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading .second1 {
    margin-left: 235px;
}

.block {
    width: fit-content;
}

.block h5 {
    text-align: right;
}

#chotti {
    margin-top: 100px;
    padding-right: 50px;
}

#chotti h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;     
}
#herofooter a{
    color: white;
    text-decoration: none;
}
#herofooter #icon{
    display: flex;
    gap: 6px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(165, 161, 161);
}